body, html {
    margin: 0;
    padding: 0
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 50%;
    width: 80%;
    display: flex;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.info-container {
    width: 75%;
    padding: 1.5rem;
}

.info-img {
    text-align: center;
}

.info-title {
    text-align: center;
    font-weight: bold;
}

.info-texto-container {
    max-height: 300px;
    overflow-y: auto;
}

.info-texto {
    text-align: justify;
}

.login-container {
    width: 25%;
    padding: 1.5rem;
    background-color: #776C99;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.login-title {
    text-align: center;
    font-size: 1.25rem;
    color: #FFF; 
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.login-input-container {
    margin-bottom: .5rem;
    box-sizing: border-box;
}

.login-input {
    width: 80%;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
}

.login-cadastro {
    text-align: center;
    color: #FFF;
    font-size: 0.75rem;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.login-button {
    height: 40px;
    width: 50%;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 1rem;
    background-color: #4F4472;
    color: #FFF;
    margin-top: .75rem;
}

#mensagemErro {
    color: red;
    font-size: 14px;
}

.alerta {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alerta-erro {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}