.body {
    height: 100vh;
    background-color: #E8E8E8;    
}

.title-box {
    font-family: 'Paytone One', sans-serif;
    background-color: #4F4472;
    color: #FFF;
    letter-spacing: 3px;
}

.designer-box {
    background-color: #DBDBDB;
}

img {
    width: 125px;
    height: 125px;
}

.text-box-start {
    margin-left: -4rem;
    padding-left: 5rem;
    padding-right: 1rem;
    background-color: #ACAAAD;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-container:hover .text-box-start {
    animation: showTextRight;
    animation-duration: 2s;
    opacity: 1;
}

.text-box-end {
    margin-right: -4rem;
    padding-right: 5rem;
    padding-left: 1rem;
    background-color: #ACAAAD;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-container:hover .text-box-end {
    animation: showTextLeft;
    animation-duration: 2s;
    opacity: 1;
}

.image {
    z-index: 1;
}

.text-title {
    font-family: 'Paytone One', sans-serif;
    color: #6D6B6E;
    font-weight: bold;
}

dialog::backdrop {
    background-color: #D9D9D9CF;
}

dialog {
    border: none;
    background-color: #776C9987;
    border-radius: 2.5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 500px;
}

dialog .title-container {
    justify-content: center;
}

.modal-title {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5rem;
    background-color: #4F4472;
    border-radius: 25px;
    color: #FFF;
}

dialog .text-container {
    text-align: justify;
    font-family: 'Inter', sans-serif;
}

dialog button {
    padding: 5px 25px;
    border-radius: 2.5em;
    background-color: #4F4472;
    color: #FFF;
}

.material-icons.md-36 { font-size: 36px; }

@keyframes showTextRight{
    from {margin-left: -5rem;}
    to {margin-left: -4rem;}
}

@keyframes showTextLeft{
    from {margin-right: -5rem;}
    to {margin-right: -4rem;}
}