* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}

.title {
    font-family: 'Paytone One', sans-serif;
    font-size: 7rem;
    text-align: center;
    color: #a3a3a3;
}

img {
    border-radius: 15px;
}

.img-container {
    position: relative;
}

.full-size {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
}

.img-container:hover .overlay {
    height: 100%;
}

/* .overlay-title-large {
    font-family: 'Paytone One', sans-serif;
    width: 100%;
    margin-top: 10%;
    color: white;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
} */

/* .overlay-text-large {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    color: white;
    font-size: 1rem;
    margin-top: 55%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} */

/* .overlay-title-small {
    font-family: 'Paytone One', sans-serif;
    width: 100%;
    margin-top: 10%;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
} */

.overlay-title-base {
    font-family: 'Paytone One', sans-serif;
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
}

.overlay-title-large {
    margin-top: 10%;
    font-size: 3rem;
}

.overlay-title-small {
    margin-top: 10%;
    font-size: 1.5rem;
}

.overlay-title-smaller {
    font-size: 1.5rem;
    margin-top: 5%;
}

.overlay-text-base {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    color: white;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.overlay-text-large {
    margin-top: 55%;
}

.overlay-text-small {
    margin-top: 30%;
}

.overlay-text-smaller {
    margin-top: 25%;
}